
@font-face {
    font-family: sfont;
    src: url(a-assuannr.woff2);
}


*{
    padding: 0;
    margin: 0;
}

.main{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

h1{
    width: 100vw;
    text-align: center;
}

body{
    background-color: rgb(180, 255, 230);
    font-family: sfont, sans-serif ;
}

.name{
    font-size: 25px;
    text-align: center;
    transition: 0.7s;
}

.name:hover{
    transform: scale(1.5);
}

.game{
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.game img{
    width: 25vw;
    

}